.title_bar {
  background-color: #F8F3E3;
}

.title_bar_name {
  font-size: 48px;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  color: #3D2C29;
  margin: 0;
}

.buttons_title_bar .btn-outline-primary {
    --bs-btn-color: #3D2C29;
    --bs-btn-border-color: #F1D1B6;
    --bs-btn-hover-color: #F5B7B1;
    --bs-btn-hover-bg: #F5B7B1;
    --bs-btn-hover-border-color: #4abdac;
    --bs-btn-focus-shadow-rgb: 252, 74, 26;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: green;
    --bs-btn-active-border-color: green;
    --bs-btn-disabled-color: #fc4a1a;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #fc4a1a;
    --bs-gradient: none;
  }

  .hero{
    display: grid;
    height: 530px;
    width: 100%;
    grid-template-columns: 60% 40%;
    grid-template-rows: 450px 60px;
  }



/* .about{
    background-color: #4abdac;
    height: 450px;
    padding-top: 30px;
}



.about_photo img{
    max-height: 370px; 
    max-width: 370px;
    object-fit: cover;
}


.about_name{
 font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 0;
  font-style: normal;
  font-size: 4.5rem;
} */


  

  